.gallery {
  width: 100%;
}

.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.images-container .image-container {
  height: 200px;
  margin: 10px;
  width: 200px;
}

.images-container .image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
