.item-container {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: center;
  margin-left: 20vh;
  margin-right: 20vh;
  min-height: 100px;
  min-width: 100px;
  padding: 10px;
}

.item-container.with-predictions {
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
}

.item-container .image-container {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.item-container .image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.item-container .message-container {
  font-size: calc(10px + 1vmin);
  margin-top: 10px;
}

.item-container .predictions-container {
  min-width: 200px;
}

.predictions-container h2 {
  margin-top: 0;
}

.predictions-container ul {
  text-align: left;
}

.predictions-container li {
  margin-bottom: 10px;
}

.predictions-container li::marker {
  content: counter(list-item) '› ';
}
