.item-container {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  min-height: 100px;
  min-width: 100px;
  padding: 10px;
}

.item-container .image-container {
  height: 200px;
  margin: auto;
  width: 200px;
}

.item-container .image-container img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
