.app {
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 20vh;
}

.file {
  height: 0.1px;
  opacity: 0;
  position: absolute;
  width: 0.1px;
}

.file-input label {
  align-items: center;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  border-radius: 25px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  display: block;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  transition: transform 0.2s ease-out;
  width: 200px;
}
