.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.app-header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  justify-content: space-evenly;
  min-height: 20vh;
  padding-left: 20vh;
  padding-right: 20vh;
}

.file {
  height: 0.1px;
  opacity: 0;
  position: absolute;
  width: 0.1px;
}

.button {
  align-items: center;
  background: linear-gradient(40deg, #87677a, #3d3d3f);
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  display: block;
  display: flex;
  height: 50px;
  justify-content: center;
  position: relative;
  transition: transform 0.2s ease-out;
  width: 250px;
}
